<div>
<div class="row">
<img  class="img" src="<%= user.photo %>" alt="<%= user.name %>"/>
<h2 class="user"><%= user.name %></h2>
 <h3>Number of posts: <%= user.posts_counter %></h3>
</div>
<div>
</div>
</div>