.user{
    background-color: rgb(224, 168, 168);
    font-size: 50px;
}
.img{
  width: 15%;
  border-radius: 100px;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}